
<link rel="import" href="/components/wasabi-card/wasabi-card.html">


<polymer-element name="wasabi-player" attributes="playerId focus selected name picture cards owner extraCard state canGiveInfo largeCard">
    <template>

        <link rel="stylesheet" href="../../assets/css/main.css"/>

        <div class="player-contents {{extraCard ? 'extra-card' : ''}} {{focus ? 'current-turn' : ''}}">
            <div class="player-info">
                <span class="player-name">{{name}}</span>
                <img class="player-picture" src="{{picture}}"/>
            </div>
            <template repeat="{{card, i in cards}}">
                <wasabi-card colour="{{card.colour.className}}" extra-card="{{extraCard}}" index="{{i}}" number="{{card.number}}" on-info="{{giveInfo}}" owner="{{owner}}" canGiveInfo="{{!owner && canGiveInfo}}" info="{{card.info}}" on-play="{{playCard}}" on-discard="{{discardCard}}" focus="{{focus}}" on-go-large="{{goLarge}}" on-go-small="{{goSmall}}" canGoLarge="true"></wasabi-card>
            </template>
        </div>
    </template>

    <script>
        Polymer('wasabi-player', {

            publish: {
                playerId: {value: null, reflect: true},
                focus: {value: false, reflect: true},
                name: {value: null, reflect: true},
                picture: {value: null, reflect: true},
                selected: {value: false, reflect: true},
                owner: {value: false, reflect: true},
                cards: {value: null, reflect:true},
                extraCard: {value: false, reflect:true},
                state: {value: false, reflect:true},
                canGiveInfo: {value: false, reflect:true},
                largeCard: {value: false, reflect:true}
            },

            ready: function() {
            },

            playCard: function (e) {
                e.stopPropagation();
                var target = e.target;
                // should be impossible... we'll check server side too, so don't even bother.
                if (!target.focus) {
                    return;
                }
                this.fire('play', {
                    playerId: this.playerId,
                    cardIndex: target.index
                });
            },

            discardCard: function (e) {
                e.stopPropagation();
                var target = e.target;
                // should be impossible... we'll check server side too, so don't even bother.
                if (!target.focus) {
                    return;
                }
                this.fire('discard', {
                    playerId: this.playerId,
                    cardIndex: target.index
                });
            },

            giveInfo: function (e) {
                this.fire('give-info', {
                    playerId: this.playerId,
                    type: e.detail.type,
                    value: e.detail.value
                });
            },

            goLarge: function (e) {
                e.stopPropagation();
                if (this.largeCard) {
                    this.largeCard.large = false;
                }
                else {
                    this.fire('go-large');
                }
                this.largeCard = e.target;
            },

            goSmall: function (e) {
                e.stopPropagation();
                this.largeCard = null;
            },

            hideCard: function () {
                if (this.largeCard) {
                    this.largeCard.large = false;
                    this.largeCard = null;
                }
            }
        });
    </script>
</polymer-element>


