
<polymer-element name="wasabi-card" attributes="index owner focus number colour canGiveInfo info large canGoLarge">
    <template>
        <link rel="stylesheet" href="../../assets/css/main.css"/>

        <div class="card {{colour ? colour : (info.colour ? info.colour : 'unknown')}}-card {{large ? 'large-card' : ''}}" data-number="{{number ? number : (info.number ? info.number : null)}}" on-down="{{select}}">
            <div class="logo"></div>
            <div class="logo small-only"></div>

            <span class="number small-only">{{number ? number : (info.number ? info.number : null)}}</span>

            <template if="{{owner && focus}}">
                <button class="top-button" type="button" on-down="{{play}}">Play</button>
                <button class="bottom-button" type="button" on-down="{{discard}}">Drop</button>
            </template>

            <template if="{{canGiveInfo}}">
                <button class="top-button" type="button" on-down="{{infoNumber}}">Num</button>
                <button class="bottom-button" type="button" on-down="{{infoColour}}">Col</button>
            </template>

        </div>

    </template>

    <script>
        Polymer('wasabi-card', {

            publish: {
                owner: {value: false, reflect: true},
                focus: {value: false, reflect: true},
                number: {value: null, reflect: true},
                colour: {value: null, reflect: true},
                info: {value: null, reflect: true},
                canGiveInfo: {value: null, reflect: true},
                large: {value: null, reflect: true},
                canGoLarge: {value: false, reflect: true}
            },
            ready: function() {
                this.play = function (e) {
                    e.stopPropagation();
                    this.fire('play');
                };
                this.discard = function (e) {
                    e.stopPropagation();
                    this.fire('discard');
                };
                this.infoNumber = function (e) {
                    e.stopPropagation();
                    this.fire('info', {
                        type: 'number',
                        value: this.number
                    });
                };
                this.infoColour = function (e) {
                    e.stopPropagation();
                    this.fire('info', {
                        type: 'colour',
                        value: this.colour
                    });
                };
                this.select = function () {
                    if (!this.canGoLarge) {
                        return;
                    }
                    this.large = !this.large;
                    if (this.large) {
                        this.fire('go-large');
                    }
                    else {
                        this.fire('go-small');
                    }
                };
            }
        });
    </script>
</polymer-element>