
<polymer-element name="game-selector" attributes="" >
    <template>
        <style>
            :host {
                display: block;
            }
        </style>

        <link rel="stylesheet" href="../../assets/css/main.css"/>

        <button class="white new-button" type="button" on-down="{{newGame}}" >Make a new game?</button>

        <template if="{{yourGames.length > 0 }}">
            <h3>Your games</h3>
            <table class="select-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator</th>
                        <th>Player count</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <template repeat="{{game in yourGames}}">
                        <tr data-id="{{game.id}}" on-down="{{joinGame}}">
                            <td>{{game.id}}</td>
                            <td>{{game.creatorName}}</td>
                            <td>{{game.players.length}}</td>
                            <td>{{game.state}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>

        <template if="{{joinableGames.length > 0}}">
            <h3>Joinable games</h3>
            <table class="select-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Creator</th>
                        <th>Player count</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <template repeat="{{game in joinableGames}}">
                        <tr data-id="{{game.id}}" on-down="{{joinGame}}">
                            <td>{{game.id}}</td>
                            <td>{{game.creatorName}}</td>
                            <td>{{game.players.length}}</td>
                            <td>{{game.state}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </template>
    </template>

    <script>
        Polymer('game-selector', {
            ready: function() {
                this.yourGames = [];
                this.joinableGames = [];

                this.newGame = function () {
                    this.fire('new-game');
                };

                this.joinGame = function (e) {
                    if (e.target.dataset.id) {
                        this.fire('select-game', e.target.dataset.id);
                    }
                    else {
                        this.fire('select-game', e.target.parentElement.dataset.id);
                    }
                }
            }
        });


    </script>
</polymer-element>